extends layout

block content
    body.home-page
        .header-wrapper
            .header
        .homepage-container
            .login-container
                a.sb-twitter(href="/authtw") 
                a.sb-facebook(href="/authfb")
            .login-bg 
        include footer